$blue-section : #D7EFF4;
$grey-section:#d6d2c4;
$red-section: #ffe7dc;
$color-white: #fff;
$color-black:#163F5B;

body {
    text-align: left;
    background: $color-white;
    display: block;
    color: $color-black;
}

.blue-section{
    background-color: $blue-section;
}
.grey-section{
    background-color: $grey-section;
}
.red-section{
    background-color: $red-section;
}

.slick-prev {
    left: -13px;
}
.slick-next {
    right: -13px;
}

.navbar-left{
    margin-right: auto !important;
}
.navbar-right{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 150px;

    .btn-daftar{
        padding:5px 15px !important;
        background-color: #ff6621;
        color:$color-white !important;
        border-radius: 15px;
        display: block;
        margin-top:6px;
    }

    @media only screen and (max-width: 1200px){
        &{
            margin-left:0px;
        }
    }

    @media only screen and (max-width:992px){
        &{
            margin-left:0px;
            flex-direction: column;
        }
    }
    
}

.banner-items {
    width: 100%;
    position: relative;
    margin-top: 60px;

    .slick-prev {
        left: 34px;
        z-index: 1000;
        color: $color-white;
        opacity: 1;
    }
    .slick-next {
        right: 38px;
        z-index: 1000;
        color: $color-white;
        opacity: 2;
    }

    
}

.main-section{
    width: 100%;

    .course-container{
        width: 100%;
        padding:1.5625rem 13.3%;  
    }

    .benefit-section{
        .benefit-top-header{
            margin-bottom: 50px;
            text-align: center;
        }

        .benefit-image{
            display: block;
            height: 80px;
            margin-bottom: 15px;
        }

        .benefit-header{
            margin-top:10px;
            font-size:1.125rem;
            line-height:1.55;
            font-weight: bold;
        }
        .benefit-desc{
            margin-top:10px;
            font-size:18px;
            line-height: 1.55;
        }
        @media only screen and (max-width:768px){
            .benefit-image{
                margin-left: auto;
                margin-right: auto;
            }
    
            .benefit-header{
                text-align: center;
            }
            .benefit-desc{
                text-align: center;
            }
        }
    }

    .course-section{
        width: 100%;
        border-radius:7px;
        padding:20px;

        @media only screen and (max-width:768px){
            &{
                margin-top:30px;
            }
        }

        .course-category{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 30%;
            padding: 30px 10px;

            img{
                width: 30%;
                margin-bottom:10px;
            }

            .category-desc{
                width: 70%;
                padding-left:20px;

                .category-header{
                    font-size: 1.375rem;
                    line-height: 1.375rem;
                    font-weight: bold;
                    padding-bottom:25px;
                    padding-left:5px;
                }
            }

            @media only screen and (max-width:768px){
              &{
                  width: 100%;
                  padding-bottom: 40px;
                  text-align: center;
              }
            }
        }

        .course-category1{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
           
            padding: 30px 10px;

            img{
                width: 80px;
                margin-bottom:10px;
            }

            .category-desc{
                margin:0;

                .category-header{
                    font-size: 1.375rem;
                    line-height: 1.375rem;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                .category-content{
                    font-size:1rem;
                    line-height: 1.4rem;
                    margin-bottom: 20px;
                    
                }
            }

            @media only screen and (max-width:768px){
                &{
                    width: 100%;
                    padding-bottom: 40px;
                    text-align: center;

                    img{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
        
        .course-card{
            position: relative;
            border-radius: 11px;
            box-shadow: 0px 2px 15px 0.5px rgba(0,0,0,0.1);
            min-height: 290px;
            background:#fff;
            margin-right: 5px;
            margin-left:5px;
            margin-bottom:20px;
            
            .course-card-image{
                
                img{
                    object-fit: cover;
                    width: 100%;
                    border-radius:5px 5px 0px 0px;
                }
    
            }

            .course-card-desc{
                padding:14px;

                a{
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 22.5px;
                    color:#212121;
                }

                .course-price{
                    position: absolute;
                    bottom: 10px;
                    font-size: 0.9375rem;
                    line-height: 1.4063rem;
                    color: #ff6a0e;
                }

            }
        }

        .latih-course-desc{
            padding:15px 33px;

            .latih-course-header{
                text-align: left;
                margin-bottom: 20px;
                font-size:1.9375rem;
                line-height: 1.9375rem;
                
            }
        }
            
    }
    
}

.footer-section{
    width: 100%;

    .collab-block-left, .collab-block-right{
        position: relative;
        padding: 14px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .collab-content{
            position: relative;
            padding: 30px;
            line-height: 2;
            z-index: 2;
            color: $color-white;

            .collab-header{
                font-size: 1.875rem;
               
            }
            .collab-desc{
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.5;
                padding-bottom: 15px;
                width: 400px;
                z-index: 99;
                
            }
        }
    }

    .collab-block-left{
        background-image: url('https://1.bp.blogspot.com/-xj9cgzCuR2o/X4-SU5KwgDI/AAAAAAAAE7k/Y5pAuUEp7rUZXtnTVBtLISC2yJsWUVk_ACLcBGAsYHQ/s0/meeting.png');

        &:after{
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(19,71,0,0.6);
            z-index: 1;
        }
    }
   
    .collab-block-right{
        background-image: url('https://1.bp.blogspot.com/-WaLs1vlpcp0/X4-SU7KKPRI/AAAAAAAAE7g/YfKvSUalBRIxfTOumstN75xszg8Ts-B7wCLcBGAsYHQ/s0/Deal.png');

        &:after{
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0, 71, 67, 0.6);
            z-index: 1;
        }
    }

    .footer{
        width: 100%;
        padding:0.75rem 1.125rem;
        background: #EAF6F9;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media only screen and (max-width:1239px){
            &{
                justify-content: space-around;
            }
        }

        .footer-items{
            padding:0.75rem;
            min-width: 12.5rem;

            img{
                display: block;
                margin: auto;
                width: 70px;
            }
            .footer-desc{
                font-size: 0.75rem;
                margin-top:20px;
            }

            .footer-header{
                font-size: 0.875rem;
                padding-bottom: 10px;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .footer-menu{
                list-style: none;
                padding-left: 0;
                .footer-link{
                    margin:0;
                    padding:0;
                    
                    a{
                        color: #163F5B;
                        font-size: 0.875rem;
                        letter-spacing: 1px;

                        &:hover{
                            text-decoration: underline;
                        }

                        .footer-icon{
                            padding-right:5px;
                        }
                    }

                }
            }
        }

    }

    .footer-legal{
        padding:0.4375rem;
        background-color: #eaf6f9;
        
        width: 100%;

        .copyright{
            color:$color-black;
            padding-bottom: 6px;
            font-size: 0.875rem;
            line-height: 1.3125rem;
            font-weight: bold;
            text-align: center;
            
        }
    }

}