body {
  text-align: left;
  background: #fff;
  display: block;
  color: #163F5B;
}

.grey-section {
  background-color: #d6d2c4;
}

.slick-next:before, .slick-prev:before {
  font-size: 36px;
  color: green;
}

.slick-prev {
  left: -13px;
}

.slick
.slick-next {
  right: -13px;
}

.navbar-left {
  margin-right: auto !important;
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 200px;
}

.navbar-right li .number-cart {
  padding-left: 10px;
}

.navbar-right li a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .navbar-right {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-right {
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner-items {
  width: 100%;
  position: relative;
  margin-top: 60px;
}

.banner-items .banner-slider {
  position: relative;
}

.banner-items .slick-prev {
  left: 34px;
  z-index: 1000;
  color: #fff;
  opacity: 1;
}

.banner-items .slick-next {
  right: 38px;
  z-index: 1000;
  color: #fff;
  opacity: 2;
}

.banner-items .banner-info {
  position: absolute;
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 18%;
}

.banner-items .banner-info .banner-header {
  padding-bottom: 8px;
  font-size: 80px;
  color: green;
}

.banner-items .banner-info .banner-desc {
  padding-bottom: 8px;
  font-size: 20px;
  color: black;
}

.banner-items .banner-info .btn-banner {
  padding: 20px;
}

.main-section {
  width: 100%;
}

.main-section .product-container {
  max-width: 1500px;
  width: 100%;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-section .product-container .box-collection {
  position: relative;
}

.main-section .product-container .box-collection .box-collect-info {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-section .product-container .box-collection .box-collect-info .box-header {
  padding-bottom: 5px;
}

.main-section .product-container .box-collection .box-collect-info .btn-collect {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .main-section .product-container .box-collection .box-collect-info {
    left: 10%;
  }
}

.main-section .product-container .product-header {
  margin: 20px 0 50px 0px;
}

.main-section .product-container .product-section {
  margin: 15px 0;
}

.main-section .product-container .product-section .product-card {
  position: relative;
  border-radius: 11px;
  -webkit-box-shadow: 0px 2px 15px 0.5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 15px 0.5px rgba(0, 0, 0, 0.1);
  min-height: 290px;
  background: #fff;
  margin-bottom: 20px;
}

.main-section .product-container .product-section .product-card .product-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-section .product-container .product-section .product-card .product-img .product-info {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.main-section .product-container .product-section .product-card .product-img .product-info:hover {
  opacity: 1;
}

.main-section .product-container .product-section .product-card .product-img:hover img {
  opacity: 0.3;
}

.main-section .product-container .product-section .product-card .product-details {
  padding: 15px 10px;
}

.main-section .product-container .product-section .product-card .product-details .product-name {
  font-size: 20px;
  padding-bottom: 10px;
}

.main-section .product-container .product-section .product-card .product-details .product-desc {
  font-size: 15px;
  padding-bottom: 10px;
}

.main-section .product-container .product-section .product-card .product-details .product-price {
  padding-bottom: 10px;
}

.main-section .product-container .product-section .modal-details {
  padding: 20px;
}

.footer-section {
  width: 100%;
  margin-top: 20px;
  padding: 1.5625rem 1.125rem;
  background-color: green;
}

.footer-section .footer-legal {
  width: 100%;
}

.footer-section .footer-legal .footer-menu {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.footer-section .footer-legal .footer-menu .footer-link {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-section .footer-legal .footer-menu .footer-link a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

.footer-section .footer-legal .footer-menu .footer-link a:hover {
  text-decoration: underline;
}

.footer-section .footer-legal .footer-menu .footer-link a .footer-icon {
  padding-right: 5px;
}

.footer-section .footer-legal .copyright {
  color: #fff;
  padding-bottom: 6px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: bold;
  text-align: center;
}
